*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: Heroeau;
    src: url(Fonts/HEROEAU-ELEGANT-DEMO-BF6414311758e86.ttf);
}

@font-face {
    font-family: Slagless;
    src: url(Fonts/Slagless-2OX63.ttf);
}

header{
    height: 100px;
    text-align: center;
    padding-top: 30px;
    font-size:70px;
    font-family: Slagless;
}

#page{
    /* background-color: #6c7db7; */
    background-color: #5d79d2;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
}

#container{
    position: relative;
    background-color: #e68ba0;
    /* background-color: wheat; */
    margin-top: 20px;
    width: 350px;
    height: 100px;
    border-radius: 15px;
    overflow: hidden;
    transition: .6s ease-out;
}

#searchBar{
    margin: 30px 5px 0px 5px;
    display: flex;
    height: min-content;
    align-items: center;
    justify-content: space-between;
}

#globeIcon{
    font-size: xx-large;
}

#search{
    font-size: 30px;
}


#searchBar input{
    width:250px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    text-transform: capitalize;
}

#searchBar input::placeholder{
    font-weight: 100;
    font-size: 30px;
}

#searchBar button{
    border: none;
    background-color: #cc7878;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: x-large;
}

#searchBar button:hover{
    background-color: #bc5959;
}

#notFound{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0;
    opacity: 0;
    display: none;
}

#notFound p{
    margin-top: 10px;
    font-size: x-large;
    text-align: center;

}

#weatherBox{
    text-align: center;
}

#weatherBox img{
    width: 300px;
    text-align: center;
}

#weatherBox  #temp{
    font-weight: 800;
    font-size:  40px;
}

#temp{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#weatherBox  #desc{
    font-size: 15px;
    font-weight: 200;
}

#desc{
    text-transform: capitalize;
}

#weatherDetails{
    display: flex;
    justify-content: center;
}

#windBox , #humidityBox{
    display: flex;
    flex-direction: row;
}

#hum, #win {
    font-weight: 600;
}

#humidityIcon , #windIcon{
    font-size: 40px;
    margin-right: 20px;
}

#humidityBox{
    margin-right: 20px;
}

#windBox{
    margin-left: 20px;
}

#weatherBox , #weatherDetails {
    scale: 0;
    opacity: 0;
}

#desc{
    margin: 5px 0px 5px 0px;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}